@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

body{
    padding: 0;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
}

.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.container {
    width: 600px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    border-radius: 10px;
}

.image {
    content: url('images/image-product-desktop.jpg');
    width: 300px;
    border-radius: 10px 0px 0px 10px;
}

.content {
    margin: 10px 30px 0px 30px;
}

.content h4 {
    color: rgb(125, 125, 125);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}

.content h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.content p {
    color: rgb(125, 125, 125);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 22px;
}

.price {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.price .promo {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

.price .original-price{
    text-decoration: line-through;
    text-align: center;
}

.add-to-cart {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.add-to-cart:active {
    background-color: hsl(158, 54%, 22%);
}

button .fas {
    margin-right: 10px;
}

@media screen and (max-width:610px) {
    .image {
        content: url('images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
    }

    .container {
        width: 300px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }
    
    .content h1 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 25px;
        margin-top: -10px;
    }

    .content p {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        line-height: 22px;
    }

    .add-to-cart {
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        padding: 15px;
        border-radius: 8px;
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        border: none;
        cursor: pointer;
        margin: -5px 0 15px 0;
    }
}